.preview {
  height: 350px;
  width: 270px;
  margin-top: 10px;
  & .preview_box {
    height: 350px;
    width: 270px;
    display: inline-block;
    overflow: hidden;
  }
}

@media (min-width:320px)  {
  .preview {
    height: 150px;
    width: 100px;
  }
  .preview_box {
    height: 150px;
    width: 100px;
  }
  img {
    height: 150px;
    width: 100px;
  }
}
