<div class="content">
  <div style="height: 400px; width: 320px" id="box">
    <div
      *ngIf="fileService.base64textString"
      class="box"
      [ngStyle]="{
        height: formService.form.value.height + '%',
        width: formService.form.value.width + '%',
        left: formService.form.value['horizontalPos'] + '%',
        top: formService.form.value['verticalPos'] + '%'}"
      [ngClass]="formService.form.value.animation"
      [@myAnimations]="{value: formService.form.value.animation, params: {verticalPos:
      formService.form.value['verticalPos'] + '%', horizontalPos: formService.form.value['horizontalPos'] + '%'}}"
    >
      <img
        src="{{fileService.base64textString}}"
        alt=""
        height="400"
        width="320"
      >
    </div>
  </div>
</div>
