<div class="content">
  <div style="height: 300px; width: 220px" id="box">
    <div
      *ngIf="fileService.base64textString"
      class="box"
      [ngStyle]="{
        height: formService.form.value.height + '%',
        width: formService.form.value.width + '%',
        left: formService.form.value['horizontalPos'] + '%',
        top: formService.form.value['verticalPos'] + '%'}"
      [ngClass]="formService.form.value.animation"
      [@expandedPanel]="formService.form.value.animation"
    >
      <img
        src="{{fileService.base64textString}}"
        alt=""
        height="300"
        width="220"
      >
    </div>
  </div>
</div>
