<div class="form" [formGroup]="formService.form">
  <div class="from_content">
    <span *ngIf="formService.form.invalid">INVALID FILE</span>
    <label for="file-upload" class="custom-file-upload">
      File Upload
    </label>
    <input id="file-upload" type="file" (change)="fileService.getFile($event, formService.form)">
    <select formControlName="animation">
      <option *ngFor="let animation of animationOptions">{{animation}}</option>
    </select>
    <div class="sliders" *ngFor="let slider of sliderInputsProps; let i = index">
      <label [for]="slider.for">
        Mask {{slider.for}}: <strong>{{slider.value}}</strong>
      </label>
      <input
        type="range"
        [formControlName]="slider.for"
        [min]="slider.min"
        [max]="slider.max"
        [(ngModel)]="slider.value"
        class="slider"
        [id]="slider.for">
    </div>
    <ng-content></ng-content>
  </div>
  <div class="position_controls">
    <label for="horizontalInput">X:</label>
    <input type="number" formControlName="horizontalPos" value="{{formService.form.value['horizontalPos']}}" id="horizontalInput">
    <label for="verticalInput">Y:</label>
    <input type="number" formControlName="verticalPos" value="{{formService.form.value['verticalPos']}}" id="verticalInput">
  </div>
  <button (click)="onGenerateClick()">Generate Banner</button>
</div>
